openapi: 3.0.3
info:
  title: 오늘의직관 API
  description: |
    오늘의직관 — KBO 직관 기록 서비스의 REST API 명세서.

    - 작성자: 울산 U133 이채목
    - 작성일: 2026-08-18
    - 최종 수정일: 2026-08-19

    ### 개정 이력
    | 버전 | 일자 | 내용 |
    |---|---|---|
    | v0.1 | 2026-08-18 | 초안. 회원 · 경기 · 직관 기록 · 전적 엔드포인트 작성 |
    | v0.2 | 2026-08-18 | 직관 메이트, 관람 계획, 운영 엔드포인트 추가 |
    | v0.3 | 2026-08-19 | 사용자 제보 기반 결과 확정 엔드포인트 삭제. 경기 결과 정정은 운영자 전용으로 정리 |
    | v0.4 | 2026-08-19 | Swagger Editor 에서 열리지 않던 오류 수정. 중복된 operation 키와 따옴표 없는 흐름 매핑이 원인이었다 |
    | v1.0 | 2026-08-19 | 운영 서버 주소를 todayjikgwan.site 로 지정. 모든 오퍼레이션에 설명 추가 |
    | v1.1 | 2026-08-19 | 각 오퍼레이션에 `x-scope` 로 MVP · 확장 범위를 표시 |

    ### 경기 데이터 출처
    경기 결과는 **운영자만 등록·정정한다** (REQ-F-601, REQ-NF-015). 일반 사용자의 입력이
    경기 결과에 반영되는 경로는 두지 않는다. 외부 API 도입 여부는 이용 조건을 확인한 뒤
    정하기로 했고, 데이터 제공 인터페이스로 추상화해 선택을 미뤄 두었다 (REQ-F-107).
    외부 데이터를 도입하면 서버가 배치로 동기화하며, 클라이언트 요청이 외부로 직접
    전달되지 않는다 (REQ-NF-016). 응답에 포함된 외부 데이터에는 `dataSource` 로
    제공처를 표기한다 (REQ-NF-014). 현재 표기 대상은 날씨(기상청)뿐이다.

    ### 공통 규칙
    - 인증이 필요한 API는 `Authorization: Bearer {accessToken}` 헤더를 요구한다.
    - 모든 오류 응답은 `ErrorResponse` 형식을 따른다.
    - 목록 조회는 `page`, `size` 쿼리 파라미터를 사용한다 (page는 0부터).
  version: 1.0.0
  contact:
    name: 이채목

servers:
  - url: https://api.todayjikgwan.site/api/v1
    description: 운영 서버 (도메인 취득 예정)
  - url: http://localhost:8080/api/v1
    description: 로컬 개발 서버

tags:
  - name: Auth
    description: 인증 (REQ-F-001 ~ 004, REQ-F-009)
  - name: User
    description: 회원 정보 (REQ-F-005 ~ 008)
  - name: Game
    description: 경기 정보 (REQ-F-101 ~ 107, REQ-F-112 ~ 113)
  - name: Stadium
    description: 구장 및 구역별 만족도 (REQ-F-108 ~ 111, REQ-F-114)
  - name: AttendanceLog
    description: 직관 기록 (REQ-F-201 ~ 216)
  - name: Stat
    description: 전적 집계 (REQ-F-301 ~ 310)
  - name: Companion
    description: 직관 메이트 모집 (REQ-F-501 ~ 507)
  - name: CompanionChat
    description: 메이트 소통 (REQ-F-510 ~ 513)
  - name: Safety
    description: 신고 · 차단 (REQ-F-508, REQ-F-509)
  - name: ViewingPlan
    description: 관람 계획 (REQ-F-401 ~ 404)
  - name: Notification
    description: 알림 (REQ-F-706 ~ 707)
  - name: Admin
    description: 운영자 기능 (REQ-F-601 ~ 606)

security:
  - bearerAuth: []

paths:
  # ==================== Auth ====================
  /auth/signup:
    post:
      operationId: signup
      x-scope: MVP
      tags: [Auth]
      summary: 이메일 회원가입
      description: REQ-F-001. 가입 후 인증 메일을 발송한다. 인증 링크 유효기간은 30분이다.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, nickname]
              properties:
                email:
                  type: string
                  format: email
                  example: fan@example.com
                password:
                  type: string
                  format: password
                  minLength: 8
                  description: 8자 이상, 영문/숫자/특수문자 중 2종 이상
                nickname:
                  type: string
                  maxLength: 30
                  example: 잠실단골
                favoriteTeamId:
                  type: integer
                  format: int64
                  nullable: true
      responses:
        '201':
          description: 가입 성공. 인증 메일 발송됨
        '409':
          description: 이메일 또는 닉네임 중복
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
              example:
                code: DUPLICATE_EMAIL
                message: 이미 사용 중인 이메일입니다.
        '400': { $ref: '#/components/responses/BadRequest' }

  /auth/login:
    post:
      operationId: login
      x-scope: MVP
      tags: [Auth]
      summary: 이메일 로그인
      description: REQ-F-002. 비밀번호 5회 연속 실패 시 캡차 토큰을 요구한다.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string, format: password }
                captchaToken:
                  type: string
                  nullable: true
                  description: 5회 이상 실패한 계정에서만 필수
      responses:
        '200':
          description: 로그인 성공
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TokenResponse' }
        '401':
          description: 계정 정보 불일치. 이메일/비밀번호 중 무엇이 틀렸는지 구분하지 않는다
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
              example:
                code: INVALID_CREDENTIALS
                message: 이메일 또는 비밀번호가 올바르지 않습니다.
        '403':
          description: 이메일 미인증 또는 캡차 필요
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
              example:
                code: CAPTCHA_REQUIRED
                message: 캡차 인증이 필요합니다.
        '400':
          $ref: '#/components/responses/BadRequest'

  /auth/oauth/providers:
    get:
      operationId: listOauthProviders
      x-scope: 확장
      tags: [Auth]
      summary: 사용 가능한 소셜 로그인 제공자 조회
      description: |
        REQ-F-003. 서버에 클라이언트 키가 등록된 제공자만 반환한다.
        화면은 이 목록대로 버튼을 그리므로, 키를 발급받지 않은 제공자는 버튼 자체가 뜨지 않는다.
      security: []
      responses:
        '200':
          description: 조회 성공
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    provider: { type: string, enum: [google, naver, kakao], example: google }
                    displayName: { type: string, example: 구글 }

  /auth/oauth/{provider}/authorize-url:
    get:
      operationId: getOauthAuthorizeUrl
      x-scope: 확장
      tags: [Auth]
      summary: 소셜 로그인 인가 URL 발급
      description: |
        REQ-F-003. 제공자의 동의 화면 URL과 `state`를 함께 반환한다.
        클라이언트는 `state`를 보관했다가 콜백에서 대조해, 이 브라우저에서 시작하지 않은 응답을 거른다.
      security: []
      parameters:
        - { name: provider, in: path, required: true, schema: { type: string, enum: [google, naver, kakao] } }
      responses:
        '200':
          description: 발급 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  authorizeUrl: { type: string, example: 'https://accounts.google.com/o/oauth2/v2/auth?...' }
                  state: { type: string, example: x61DhMndc_Jl4k0bG5pDdydgfPVQoTGR }
        '400':
          description: 키가 등록되지 않은 제공자 (OAUTH_PROVIDER_DISABLED)
        '404':
          $ref: '#/components/responses/NotFound'

  /auth/oauth/{provider}/callback:
    post:
      operationId: exchangeOauthCode
      x-scope: 확장
      tags: [Auth]
      summary: 소셜 로그인 콜백 (인가 코드 교환)
      description: |
        REQ-F-003. 인가 코드를 액세스 토큰으로 바꾸고 프로필을 조회한 뒤 서비스 토큰을 발급한다.
        클라이언트 시크릿이 필요하므로 교환과 프로필 조회는 모두 서버에서 수행한다.

        계정은 이메일이 아니라 **(provider, providerUserId)** 로 식별한다. 카카오는 이메일 제공이
        비즈앱 심사 대상이라 내려오지 않을 수 있고, 이메일은 제공자 쪽에서 변경될 수도 있기 때문이다.
        이메일이 함께 제공되고 그 이메일로 가입한 계정이 이미 있으면 해당 계정에 연동한다.
      security: []
      parameters:
        - { name: provider, in: path, required: true, schema: { type: string, enum: [google, naver, kakao] } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code: { type: string, description: 제공자가 리다이렉트로 넘긴 인가 코드 }
                state: { type: string }
      responses:
        '200':
          description: 로그인 성공
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/TokenResponse'
                  - type: object
                    properties:
                      newAccount: { type: boolean, example: false }
                      nickname: { type: string, example: 잠실단골 }
                      needsFavoriteTeam:
                        type: boolean
                        description: true 이면 응원팀 선택 화면으로 보낸다 (전적 판정 기준이 된다)
                        example: true
        '401':
          description: 코드 교환 또는 프로필 조회 실패 (OAUTH_FAILED)
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /auth/verify-email:
    post:
      operationId: verifyEmail
      x-scope: MVP
      tags: [Auth]
      summary: 이메일 소유 확인
      description: |
        REQ-F-001. 가입 때 보낸 링크가 이 경로로 들어온다. 유효기간은 30분이다.

        토큰은 테이블에 쌓지 않고 서명 토큰으로 만든다. 30분짜리라 보관해서 얻을 것이
        적기 때문이다. 로그인 토큰과 섞이지 않도록 용도를 담아 검증한다.

        만료 · 위조 · 형식 오류를 구분하지 않는다. 어느 쪽이든 다시 받아야 한다.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token: { type: string }
      responses:
        '200':
          description: 확인 완료
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string }
              example: { message: 이메일 확인이 끝났어요 }
        '400':
          description: 링크가 만료되었거나 올바르지 않음
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
              example:
                code: INVALID_VERIFICATION_TOKEN
                message: 확인 링크가 만료되었거나 올바르지 않아요.

  /auth/password-reset:
    post:
      operationId: requestPasswordReset
      x-scope: 확장
      tags: [Auth]
      summary: 비밀번호 재설정 메일 발송
      description: |
        > **현재 미구현.** 메일 발송 경로를 확보하지 못해 다음 범위로 미뤘다.

        REQ-F-004. 가입되지 않은 이메일이어도 계정 존재 여부를 노출하지 않기 위해 동일하게 200을 반환한다.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
      responses:
        '202':
          description: 요청 접수됨. 계정 존재 여부와 무관하게 같은 응답을 준다 (REQ-NF-008)
        '400':
          $ref: '#/components/responses/BadRequest'

  # ==================== User ====================
  /users/me:
    get:
      operationId: getMe
      x-scope: 확장
      tags: [User]
      summary: 내 정보 조회
      description: REQ-F-006. 닉네임, 응원팀, 연결된 소셜 계정, 권한을 함께 반환한다.
      responses:
        '200':
          description: 조회 성공
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UserResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    patch:
      operationId: updateMe
      x-scope: MVP
      tags: [User]
      summary: 내 정보 수정
      description: REQ-F-005, REQ-F-006. 응원팀 변경 시 변경 이력을 기록하며, **이미 작성된 관람 기록의 승패 판정에는 소급 적용하지 않는다.**
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nickname: { type: string, maxLength: 30 }
                favoriteTeamId: { type: integer, format: int64 }
                profileImageUrl: { type: string }
      responses:
        '200':
          description: 수정 성공
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UserResponse' }
        '409':
          description: 닉네임 중복
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /users/me/badges:
    get:
      operationId: listMyBadges
      x-scope: 확장
      tags: [User]
      summary: 내 배지 목록
      description: REQ-F-703
      responses:
        '200':
          description: 조회 성공
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/BadgeResponse' }
        '401':
          $ref: '#/components/responses/Unauthorized'

  /teams:
    get:
      operationId: listTeams
      x-scope: MVP
      tags: [User]
      summary: 구단 목록
      description: REQ-F-005. 응원팀 선택지로 쓴다. 운영이 중단된 구단은 제외한다.
      security: []
      responses:
        '200':
          description: 조회 성공
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id: { type: integer, format: int64, example: 2 }
                    name: { type: string, example: LG 트윈스 }
                    shortName: { type: string, example: LG }

  # ==================== Notification ====================
  /notifications:
    get:
      operationId: listNotifications
      x-scope: 확장
      tags: [Notification]
      summary: 알림 목록
      description: REQ-F-706. 미읽음 개수를 함께 반환해 헤더 배지에 쓴다.
      responses:
        '200':
          description: 조회 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  unreadCount: { type: integer, example: 3 }
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id: { type: integer, format: int64 }
                        type: { type: string, enum: [BADGE, COMPANION_CONFIRMED, GAME_REVISED] }
                        title: { type: string, example: 경기 결과가 정정됐어요 }
                        body: { type: string, example: 8월 8일 LG vs 삼성 결과 변경으로 전적이 갱신됐습니다 }
                        linkUrl: { type: string, example: /stats }
                        read: { type: boolean }
                        createdAt: { type: string, format: date-time }
        '401':
          $ref: '#/components/responses/Unauthorized'

  /notifications/read:
    put:
      operationId: markNotificationsRead
      x-scope: 확장
      tags: [Notification]
      summary: 알림 전체 읽음 처리
      description: REQ-F-707
      responses:
        '204':
          description: 처리 완료
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ==================== Game ====================
  /games:
    get:
      operationId: listGames
      x-scope: MVP
      tags: [Game]
      summary: 경기 일정 및 결과 조회
      description: REQ-F-101, REQ-F-102. 날짜 미지정 시 당일 기준으로 조회한다.
      security: []
      parameters:
        - { name: date, in: query, schema: { type: string, format: date }, example: '2026-08-18' }
        - { name: teamId, in: query, schema: { type: integer, format: int64 } }
        - { name: stadiumId, in: query, schema: { type: integer, format: int64 } }
        - { $ref: '#/components/parameters/Page' }
        - { $ref: '#/components/parameters/Size' }
      responses:
        '200':
          description: 조회 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items: { $ref: '#/components/schemas/GameResponse' }
                  dataSource:
                    type: string
                    description: REQ-NF-014 출처 표기
                    example: 'TheSportsDB'
                  syncedAt:
                    type: string
                    format: date-time
                    description: REQ-F-106 마지막 동기화 시각
                  stale:
                    type: boolean
                    description: REQ-NF-010 동기화 실패로 마지막 성공 데이터를 반환한 경우 true
                    example: false

  /games/{gameId}:
    get:
      operationId: getGame
      x-scope: MVP
      tags: [Game]
      summary: 경기 상세 조회
      description: REQ-F-103. 일자별 목록과 같은 형태를 단건으로 준다.
      security: []
      parameters:
        - { name: gameId, in: path, required: true, schema: { type: integer, format: int64 } }
      responses:
        '200':
          description: 조회 성공
          content:
            application/json:
              schema: { $ref: '#/components/schemas/GameResponse' }
        '404': { $ref: '#/components/responses/NotFound' }

  /games/suggest:
    post:
      operationId: suggestGames
      x-scope: 확장
      tags: [Game]
      summary: 촬영 일시 기반 경기 후보 조회
      description: |
        > **현재 미구현.** 운영자 등록(REQ-F-601)으로 경기 데이터가 채워지고 있어 우선순위를 낮췄다.

        REQ-F-204. 업로드한 사진의 촬영 일시로 해당 일자의 경기를 후보로 반환한다.
        촬영 일시가 없거나 해당일 경기가 없으면 빈 배열을 반환하며, 클라이언트는 수동 선택으로 전환한다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [takenAt]
              properties:
                takenAt: { type: string, format: date-time }
      responses:
        '200':
          description: 후보 목록
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/GameResponse' }
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /games/{gameId}/weather:
    get:
      operationId: getGameWeather
      x-scope: 확장
      tags: [Game]
      summary: 경기 구장 날씨 조회
      description: |
        REQ-F-112. 경기 시작 시각 기준 구장 날씨를 반환한다.
        기상청 단기예보 API 결과를 서버가 배치로 동기화한 값이며, 예보 범위를 벗어난 경기는 null 을 반환한다.
      security: []
      parameters:
        - { name: gameId, in: path, required: true, schema: { type: integer, format: int64 } }
      responses:
        '200':
          description: 조회 성공
          content:
            application/json:
              schema: { $ref: '#/components/schemas/WeatherResponse' }
        '404': { $ref: '#/components/responses/NotFound' }

  /games/weather/sync:
    post:
      operationId: syncGameWeather
      x-scope: 확장
      tags: [Game]
      summary: 구장 날씨 수동 동기화
      description: |
        REQ-F-112. 기상청 단기예보를 즉시 받아와 갱신한다. 평소에는 스케줄러가
        하루 네 번(02·08·14·20시) 수행하므로, 이 엔드포인트는 예보가 갱신된 직후
        바로 반영해야 할 때만 쓴다. 운영자 권한이 필요하다.
      responses:
        '200':
          description: 동기화 완료
          content:
            application/json:
              schema:
                type: object
                properties:
                  updated: { type: integer, description: '갱신된 경기 수', example: 15 }
        '403': { $ref: '#/components/responses/Forbidden' }
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /standings:
    get:
      operationId: listStandings
      x-scope: 확장
      tags: [Game]
      summary: 팀 순위 조회
      description: REQ-F-104. **외부 순위표를 가져오지 않고 등록된 경기 결과로부터 직접 산출한다.**
      security: []
      parameters:
        - { name: season, in: query, schema: { type: integer }, example: 2026 }
      responses:
        '200':
          description: 조회 성공
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/StandingResponse' }

  # ==================== Stadium ====================
  /stadiums:
    get:
      operationId: listStadiums
      x-scope: MVP
      tags: [Stadium]
      summary: 구장 목록 조회
      description: REQ-F-108
      security: []
      responses:
        '200':
          description: 조회 성공
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/StadiumResponse' }

  /stadiums/{stadiumId}:
    get:
      operationId: getStadium
      x-scope: MVP
      tags: [Stadium]
      summary: 구장 상세 조회
      description: REQ-F-109, REQ-F-110. 구역별 만족도 집계를 함께 반환한다.
      security: []
      parameters:
        - { name: stadiumId, in: path, required: true, schema: { type: integer, format: int64 } }
      responses:
        '200':
          description: 조회 성공
          content:
            application/json:
              schema: { $ref: '#/components/schemas/StadiumDetailResponse' }
        '404': { $ref: '#/components/responses/NotFound' }

  /stadiums/{stadiumId}/zones/{zoneId}/reviews:
    get:
      operationId: listZoneReviews
      x-scope: 확장
      tags: [Stadium]
      summary: 구역별 후기 조회
      description: REQ-F-111. 공개 설정된 기록의 메모만 최신순으로 반환하며 작성자는 노출하지 않는다.
      security: []
      parameters:
        - { name: stadiumId, in: path, required: true, schema: { type: integer, format: int64 } }
        - { name: zoneId, in: path, required: true, schema: { type: integer, format: int64 } }
        - { $ref: '#/components/parameters/Page' }
        - { $ref: '#/components/parameters/Size' }
      responses:
        '200':
          description: 조회 성공
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    memo: { type: string }
                    rating: { type: integer, example: 4 }
                    attendedAt: { type: string, format: date }
        '404':
          $ref: '#/components/responses/NotFound'

  # ==================== AttendanceLog ====================
  /attendance-logs:
    get:
      operationId: listAttendanceLogs
      x-scope: MVP
      tags: [AttendanceLog]
      summary: 내 직관 기록 목록
      description: REQ-F-213
      parameters:
        - { name: season, in: query, schema: { type: integer } }
        - { name: stadiumId, in: query, schema: { type: integer, format: int64 } }
        - { name: teamId, in: query, schema: { type: integer, format: int64 } }
        - { $ref: '#/components/parameters/Page' }
        - { $ref: '#/components/parameters/Size' }
      responses:
        '200':
          description: 조회 성공
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/AttendanceLogSummary' }
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createAttendanceLog
      x-scope: MVP
      tags: [AttendanceLog]
      summary: 직관 기록 작성
      description: |
        REQ-F-201 ~ 211. 저장 성공 시 전적 재집계를 트리거한다 (REQ-F-309).

        **동일 경기에 대한 기록은 사용자당 1건으로 제한된다.** 이미 존재하면 409를 반환하며,
        클라이언트는 기존 기록 수정으로 유도한다.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AttendanceLogRequest' }
      responses:
        '201':
          description: 작성 성공
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AttendanceLogDetail' }
        '409':
          description: 동일 경기 기록이 이미 존재함
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
              example:
                code: DUPLICATE_ATTENDANCE_LOG
                message: 이미 이 경기 기록이 있어요.
                data: { existingLogId: 1024 }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401':
          $ref: '#/components/responses/Unauthorized'

  /attendance-logs/{logId}:
    get:
      operationId: getAttendanceLog
      x-scope: MVP
      tags: [AttendanceLog]
      summary: 기록 상세 조회
      description: REQ-F-214, REQ-NF-008. 비공개 기록은 작성자만 조회할 수 있다.
      parameters:
        - { $ref: '#/components/parameters/LogId' }
      responses:
        '200':
          description: 조회 성공
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AttendanceLogDetail' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '401':
          $ref: '#/components/responses/Unauthorized'
    patch:
      operationId: updateAttendanceLog
      x-scope: MVP
      tags: [AttendanceLog]
      summary: 기록 수정
      description: |
        REQ-F-212. 구역이 바뀌면 이전 구역의 만족도 집계에서 빼고 새 구역에 더한다.
        응원팀이나 경기가 바뀌면 승패 판정이 달라지므로 전적을 다시 계산한다.
        다른 경기로 옮길 때 그 경기에 이미 기록이 있으면 409 를 준다.
      parameters:
        - { $ref: '#/components/parameters/LogId' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AttendanceLogRequest' }
      responses:
        '200':
          description: 수정 성공. 수정된 기록 전체를 돌려준다
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AttendanceLogDetail' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteAttendanceLog
      x-scope: MVP
      tags: [AttendanceLog]
      summary: 기록 삭제
      description: REQ-F-212. 삭제 후 전적을 재집계한다.
      parameters:
        - { $ref: '#/components/parameters/LogId' }
      responses:
        '204':
          description: 삭제 성공
        '403': { $ref: '#/components/responses/Forbidden' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /attendance-logs/{logId}/photos:
    post:
      operationId: uploadAttendancePhoto
      x-scope: MVP
      tags: [AttendanceLog]
      summary: 사진 업로드
      description: |
        REQ-F-203. 기록당 최대 10장, 1장당 10MB 이하.
        서버는 저장 전에 **위치 메타데이터를 제거하고**(REQ-NF-007) 썸네일을 생성한다(REQ-NF-002).
        일부 파일이 실패해도 나머지는 정상 처리하며, 실패 목록을 응답에 포함한다.
      parameters:
        - { $ref: '#/components/parameters/LogId' }
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                files:
                  type: array
                  items: { type: string, format: binary }
      responses:
        '201':
          description: 업로드 결과
          content:
            application/json:
              schema:
                type: object
                properties:
                  uploaded:
                    type: array
                    items: { $ref: '#/components/schemas/PhotoResponse' }
                  failed:
                    type: array
                    items:
                      type: object
                      properties:
                        fileName: { type: string }
                        reason: { type: string, example: FILE_TOO_LARGE }
        '413':
          description: 전체 파일이 허용 용량을 초과함
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /attendance-logs/{logId}/photos/{photoId}:
    delete:
      operationId: deleteAttendancePhoto
      x-scope: 확장
      tags: [AttendanceLog]
      summary: 사진 삭제
      description: REQ-F-209. 작성자만 삭제할 수 있다. 원본과 썸네일을 함께 지운다.
      parameters:
        - { $ref: '#/components/parameters/LogId' }
        - { name: photoId, in: path, required: true, schema: { type: integer, format: int64 } }
      responses:
        '204':
          description: 삭제 성공
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ==================== Stat ====================
  /stats/me/summary:
    get:
      operationId: getMyStatSummary
      x-scope: MVP
      tags: [Stat]
      summary: 내 전적 요약
      description: |
        REQ-F-301, REQ-F-305, REQ-F-306.

        **소표본 표시 정책**: 차원별 집계에서 표본이 기준(5경기) 미만인 항목은 `winRate`를 null로 반환하고
        `smallSample=true`를 함께 내린다. 클라이언트는 승률 대신 전적만 표시한다.
      parameters:
        - { name: season, in: query, schema: { type: integer }, description: '미지정 시 통산' }
      responses:
        '200':
          description: 조회 성공
          content:
            application/json:
              schema: { $ref: '#/components/schemas/StatSummaryResponse' }
        '401':
          $ref: '#/components/responses/Unauthorized'

  /stats/me:
    get:
      operationId: getMyStats
      x-scope: MVP
      tags: [Stat]
      summary: 차원별 전적 조회
      description: REQ-F-302 ~ 304, REQ-F-307
      parameters:
        - name: dimension
          in: query
          required: true
          schema:
            type: string
            enum: [STADIUM, OPPONENT, DAY_OF_WEEK, SEASON, COMPANION]
        - { name: season, in: query, schema: { type: integer } }
      responses:
        '200':
          description: 조회 성공
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/StatItem' }
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ==================== Companion ====================
  /companion-posts:
    get:
      operationId: listCompanionPosts
      x-scope: 확장
      tags: [Companion]
      summary: 메이트 모집글 목록
      description: REQ-F-502. 마감된 모집은 기본적으로 제외한다.
      parameters:
        - { name: gameDate, in: query, schema: { type: string, format: date } }
        - { name: stadiumId, in: query, schema: { type: integer, format: int64 } }
        - { name: includeClosed, in: query, schema: { type: boolean, default: false } }
      responses:
        '200':
          description: 조회 성공
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/CompanionPostResponse' }
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createCompanionPost
      x-scope: 확장
      tags: [Companion]
      summary: 메이트 모집글 등록
      description: REQ-F-501. 이미 시작한 경기에는 등록할 수 없다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [gameId, capacity]
              properties:
                gameId: { type: integer, format: int64 }
                capacity: { type: integer, minimum: 2, maximum: 10, description: '작성자 포함 정원' }
                intro: { type: string, maxLength: 500 }
      responses:
        '201':
          description: 등록 성공
        '400':
          description: 경기 시작 시각이 지난 경우
        '401':
          $ref: '#/components/responses/Unauthorized'

  /companion-posts/{postId}:
    get:
      operationId: getCompanionPost
      x-scope: 확장
      tags: [Companion]
      summary: 메이트 모집글 상세
      description: REQ-F-502. 모집 상태, 정원과 확정 인원, 확정자 목록, 문의 댓글을 함께 반환한다.
      parameters:
        - { $ref: '#/components/parameters/PostId' }
      responses:
        '200':
          description: 조회 성공
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CompanionPostDetail' }
        '404': { $ref: '#/components/responses/NotFound' }
        '401':
          $ref: '#/components/responses/Unauthorized'

  /companion-posts/{postId}/applications:
    post:
      operationId: applyToCompanionPost
      x-scope: 확장
      tags: [Companion]
      summary: 메이트 참여 신청 (선착순 확정)
      description: |
        REQ-F-503, REQ-F-504, REQ-F-505, REQ-NF-011.

        **동시 요청 시에도 확정 인원이 정원을 초과하지 않아야 한다.**
        서버는 게시글 행에 대한 잠금 또는 낙관적 락(version)으로 정합성을 보장하며,
        정원이 이미 찬 요청에는 409를 반환한다. 대기자 개념은 두지 않는다.
      parameters:
        - { $ref: '#/components/parameters/PostId' }
      responses:
        '201':
          description: 확정 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  seq: { type: integer, description: '확정 순번', example: 3 }
                  confirmedCount: { type: integer, example: 3 }
                  capacity: { type: integer, example: 3 }
        '409':
          description: 정원 마감 또는 동일 시간대 중복 확정
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
              examples:
                full:
                  summary: 정원 마감 (REQ-F-504)
                  value:
                    code: COMPANION_POST_FULL
                    message: 방금 정원이 찼어요.
                conflict:
                  summary: 동일 시간대 중복 (REQ-F-505)
                  value:
                    code: TIME_CONFLICT
                    message: 같은 시간에 확정된 약속이 있어요.
        '400':
          description: 본인이 등록한 모집에는 지원할 수 없음
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      operationId: cancelCompanionApplication
      x-scope: 확장
      tags: [Companion]
      summary: 메이트 참여 취소
      description: REQ-F-506. 경기 시작 24시간 이내에는 취소할 수 없다. 취소 시 해당 자리는 다시 모집 상태가 된다.
      parameters:
        - { $ref: '#/components/parameters/PostId' }
      responses:
        '204':
          description: 취소 성공
        '400':
          description: 취소 제한 시간 경과
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
              example:
                code: CANCEL_DEADLINE_PASSED
                message: 경기 임박 시에는 취소할 수 없어요.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /companion-posts/{postId}/comments:
    get:
      operationId: listCompanionPostsComments
      x-scope: 확장
      tags: [CompanionChat]
      summary: 모집글 문의 댓글 조회
      description: REQ-F-510. 공개 댓글이므로 비확정자도 열람할 수 있다.
      parameters:
        - { $ref: '#/components/parameters/PostId' }
      responses:
        '200':
          description: 조회 성공
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/CommentResponse' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: createCompanionComment
      x-scope: 확장
      tags: [CompanionChat]
      summary: 모집글 문의 댓글 작성
      description: REQ-F-510
      parameters:
        - { $ref: '#/components/parameters/PostId' }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [content]
              properties:
                content: { type: string, maxLength: 500 }
      responses:
        '201':
          description: 작성 성공
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /companion-posts/{postId}/messages:
    get:
      operationId: listCompanionPostsMessages
      x-scope: 확장
      tags: [CompanionChat]
      summary: 메이트 대화 조회
      description: |
        REQ-F-511. **확정된 직관 메이트만 조회할 수 있다.**
        `after` 를 지정하면 그 시각 이후 메시지만 반환하므로 주기적 조회에 사용할 수 있다.
      parameters:
        - { $ref: '#/components/parameters/PostId' }
        - name: after
          in: query
          schema: { type: string, format: date-time }
          description: 이 시각 이후 메시지만 조회
      responses:
        '200':
          description: 조회 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items: { $ref: '#/components/schemas/MessageResponse' }
                  readOnly:
                    type: boolean
                    description: REQ-F-513 경기 종료 후 일정 기간 경과 시 true
        '403':
          description: 확정된 직관 메이트가 아님
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: sendCompanionMessage
      x-scope: 확장
      tags: [CompanionChat]
      summary: 메이트 대화 전송
      description: REQ-F-511. 읽기 전용으로 전환된 대화방에는 전송할 수 없다.
      parameters:
        - { $ref: '#/components/parameters/PostId' }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [content]
              properties:
                content: { type: string, maxLength: 1000 }
      responses:
        '201':
          description: 전송 성공
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MessageResponse' }
        '403':
          description: 확정된 직관 메이트가 아니거나 읽기 전용 상태
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /companion-posts/{postId}/messages/read:
    put:
      operationId: markCompanionMessagesRead
      x-scope: 확장
      tags: [CompanionChat]
      summary: 대화 읽음 처리
      description: REQ-F-511. 마지막 읽은 시각을 갱신한다. 메시지마다 읽음 행을 쌓지 않는다.
      parameters:
        - { $ref: '#/components/parameters/PostId' }
      responses:
        '204':
          description: 처리 완료
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /reports:
    post:
      operationId: createReport
      x-scope: 확장
      tags: [Safety]
      summary: 신고
      description: |
        REQ-F-508. 모집 글·댓글·대화 메시지·사용자를 신고한다.
        신고된 대화는 검토 종료 시까지 보존한다 (REQ-NF-023).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [targetType, targetId, reason]
              properties:
                targetType:
                  type: string
                  enum: [POST, COMMENT, MESSAGE, USER]
                targetId: { type: integer, format: int64 }
                reason: { type: string, maxLength: 255 }
      responses:
        '201':
          description: 신고 접수
        '409':
          description: 동일 대상에 이미 신고함
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /users/me/blocks:
    get:
      operationId: listMyBlocks
      x-scope: 확장
      tags: [Safety]
      summary: 차단 목록 조회
      description: REQ-F-509
      responses:
        '200':
          description: 조회 성공
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/BlockedUserResponse' }
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: blockUser
      x-scope: 확장
      tags: [Safety]
      summary: 사용자 차단
      description: REQ-F-509. 차단하면 해당 사용자의 모집 글이 노출되지 않고 상호 지원이 불가능하다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [userId]
              properties:
                userId: { type: integer, format: int64 }
      responses:
        '201':
          description: 차단 완료
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /users/me/blocks/{userId}:
    delete:
      operationId: unblockUser
      x-scope: 확장
      tags: [Safety]
      summary: 차단 해제
      description: REQ-F-509
      parameters:
        - { name: userId, in: path, required: true, schema: { type: integer, format: int64 } }
      responses:
        '204':
          description: 해제 성공
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ==================== ViewingPlan ====================
  /viewing-plans:
    post:
      operationId: createViewingPlan
      x-scope: 확장
      tags: [ViewingPlan]
      summary: 관람 계획 생성
      description: |
        REQ-F-401, REQ-F-402. 목표와 제약 조건을 저장한다.
        시즌당 1개만 유지하며, 같은 시즌 계획이 있으면 교체한다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [seasonYear, targetCount]
              properties:
                seasonYear: { type: integer, example: 2026 }
                targetCount: { type: integer, minimum: 1, maximum: 144, example: 20 }
                budgetTotal: { type: integer, nullable: true, example: 600000 }
                maxCostPerGame: { type: integer, nullable: true, example: 40000 }
                availableDays:
                  type: array
                  nullable: true
                  description: 미지정 시 요일 제약 없음
                  items: { type: string, enum: [MONDAY, TUESDAY, WEDNESDAY, THURSDAY, FRIDAY, SATURDAY, SUNDAY] }
                stadiumIds:
                  type: array
                  nullable: true
                  description: 미지정 시 전 구장
                  items: { type: integer, format: int64 }
                maxPrecipProb:
                  type: integer
                  nullable: true
                  minimum: 0
                  maximum: 100
                  description: 이 값을 초과하는 강수 확률의 경기는 제외 (REQ-F-402)
      responses:
        '201':
          description: 생성 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  planId: { type: integer, format: int64 }
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /viewing-plans/{planId}/generate:
    post:
      operationId: generateViewingPlan
      x-scope: 확장
      tags: [ViewingPlan]
      summary: 후보 일정 자동 편성
      description: |
        REQ-F-403.

        **처리 방식** — 제약을 만족하는 경기를 걸러낸 뒤 우선순위로 정렬해 목표 수만큼 고른다.
        요일·구장·날씨·경기당 예산은 경기 단위로 독립 판정되므로 조합 최적화가 필요하지 않다.
        경기 간 상호작용이 있는 제약(총 예산, 같은 날 중복)은 순차 선택 과정에서 처리한다.

        **우선순위** — ① 응원팀 경기 ② 과거 승률이 높았던 구장 ③ 이른 날짜

        **경기당 예상 비용** — 사용자의 과거 관람 기록에서 구장별 평균 지출을 사용한다.
        기록이 없으면 기본값을 적용한다.

        **목표 미달 시** — 제약을 하나씩 풀어 몇 경기가 더 확보되는지 계산해 완화 후보로 제시한다.
        "조건에 맞는 경기가 없습니다"로 끝내면 사용자가 무엇을 바꿔야 할지 알 수 없기 때문이다.
      parameters:
        - { name: planId, in: path, required: true, schema: { type: integer, format: int64 } }
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                stadiumIds:
                  type: array
                  nullable: true
                  items: { type: integer, format: int64 }
      responses:
        '200':
          description: 편성 결과
          content:
            application/json:
              schema:
                type: object
                properties:
                  targetCount: { type: integer, example: 20 }
                  fulfilledCount: { type: integer, example: 4 }
                  estimatedCost: { type: integer, example: 120000 }
                  proposed:
                    type: array
                    items:
                      type: object
                      properties:
                        gameId: { type: integer, format: int64 }
                        gameDate: { type: string, format: date }
                        dayOfWeek: { type: string, example: 토 }
                        startTime: { type: string, example: "17:00" }
                        stadium: { type: string, example: 잠실야구장 }
                        matchup: { type: string, example: LG vs 두산 }
                        cheerTeamGame: { type: boolean }
                        precipProbability: { type: integer, nullable: true }
                        estimatedCost: { type: integer }
                  filteredOut:
                    type: array
                    description: 제약별 제외 경기 수. 편성 결과의 근거를 보여준다
                    items:
                      type: object
                      properties:
                        constraint: { type: string, example: AVAILABLE_DAYS }
                        label: { type: string, example: 관람 가능 요일 }
                        excluded: { type: integer, example: 60 }
                  unsatisfied:
                    type: array
                    description: 목표 미달 시 완화 후보
                    items:
                      type: object
                      properties:
                        constraint: { type: string, example: AVAILABLE_DAYS }
                        message: { type: string, example: 월·화·수·목·금요일을 추가하면 최대 15경기까지 채울 수 있어요 }
                        additionalGames: { type: integer, example: 11 }
        '403': { $ref: '#/components/responses/Forbidden' }
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ==================== Admin ====================
  /admin/games:
    post:
      operationId: createGame
      x-scope: MVP
      tags: [Admin]
      summary: 경기 등록
      description: REQ-F-601, REQ-NF-009. 운영자 권한이 필요하다.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/GameUpsertRequest' }
      responses:
        '201':
          description: 등록 성공
        '403': { $ref: '#/components/responses/Forbidden' }
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /admin/games/sync:
    post:
      operationId: syncGames
      x-scope: MVP
      tags: [Admin]
      summary: 경기 데이터 동기화
      description: |
        REQ-F-107. 붙어 있는 제공자를 모두 물어보고 우리 쪽 경기로 옮긴다.
        켜진 외부 제공자가 없으면 아무 일도 일어나지 않으며 그것이 기본 상태다.
        운영자가 확정한 결과는 덮어쓰지 않는다 (REQ-NF-015).
      parameters:
        - name: date
          in: query
          schema: { type: string, format: date }
          description: 생략하면 당일
      responses:
        '200':
          description: 동기화 결과. 제공자별로 만든 수 · 고친 수 · 걸러낸 수를 준다
          content:
            application/json:
              schema:
                type: object
                properties:
                  date: { type: string, format: date }
                  created: { type: integer }
                  updated: { type: integer }
                  providers:
                    type: array
                    items:
                      type: object
                      properties:
                        provider: { type: string }
                        enabled: { type: boolean }
                        created: { type: integer }
                        updated: { type: integer }
                        skipped: { type: integer }
                        unmatchedSample:
                          type: array
                          items: { type: string }
                          description: 우리 데이터와 이름이 맞지 않아 걸러낸 경기
                        reason: { type: string }
              example:
                date: '2025-08-19'
                created: 0
                updated: 0
                providers:
                  - { provider: 운영자 등록, enabled: true, created: 0, updated: 0, skipped: 0 }
                  - provider: TheSportsDB
                    enabled: true
                    created: 0
                    updated: 0
                    skipped: 3
                    unmatchedSample: ['Hanwha Eagles vs Doosan Bears @ Daejeon Hanbat Baseball Stadium']
                    reason: 구단 · 구장 이름이 우리 데이터와 맞지 않는다. 대응표가 있어야 쓸 수 있다
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /admin/games/unconfirmed:
    get:
      operationId: listUnconfirmedGames
      x-scope: MVP
      tags: [Admin]
      summary: 결과 미등록 경기 조회
      description: |
        REQ-F-606. 이미 시작했는데 결과가 등록되지 않은 경기를 조회한다.
        경기 결과는 운영자만 등록·정정하므로(REQ-NF-015) 이 목록이 곧 등록 누락 목록이다.
      responses:
        '200':
          description: 조회 성공
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    game: { $ref: '#/components/schemas/GameResponse' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '401':
          $ref: '#/components/responses/Unauthorized'

  /admin/games/{gameId}/revisions:
    post:
      operationId: reviseGameResult
      x-scope: MVP
      tags: [Admin]
      summary: 경기 결과 정정
      description: |
        REQ-F-602, REQ-F-603, REQ-F-309.

        정정 사유는 필수이며, 변경 전후 값이 `game_revisions`에 추가 전용으로 기록된다.
        정정 후 해당 경기를 기록한 **모든 사용자**의 전적을 재집계하고 알림을 발송한다 (REQ-F-604).
      parameters:
        - { name: gameId, in: path, required: true, schema: { type: integer, format: int64 } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                status:
                  type: string
                  enum: [SCHEDULED, IN_PROGRESS, FINISHED, CANCELED, SUSPENDED]
                homeScore: { type: integer }
                awayScore: { type: integer }
                reason:
                  type: string
                  maxLength: 255
                  example: 우천 노게임 처리
      responses:
        '200':
          description: 정정 완료
          content:
            application/json:
              schema:
                type: object
                properties:
                  revisionId: { type: integer, format: int64 }
                  affectedUserCount:
                    type: integer
                    description: 전적이 재계산된 사용자 수
                    example: 37
        '403': { $ref: '#/components/responses/Forbidden' }
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    get:
      operationId: listGameRevisions
      x-scope: MVP
      tags: [Admin]
      summary: 경기 정정 이력 조회
      description: REQ-F-603. 이력은 추가 전용이므로 조회만 제공한다.
      parameters:
        - { name: gameId, in: path, required: true, schema: { type: integer, format: int64 } }
      responses:
        '200':
          description: 조회 성공
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/GameRevisionResponse' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'


  /admin/stadiums/{stadiumId}:
    patch:
      operationId: updateAdminStadium
      x-scope: MVP
      tags: [Admin]
      summary: 구장 정보 수정
      description: |
        REQ-F-605. 구장은 관람 기록과 기상청 격자가 함께 걸려 있어 삭제 없이 수정만 제공한다.
        보내지 않은 항목은 변경하지 않는다.
      parameters:
        - { name: stadiumId, in: path, required: true, schema: { type: integer, format: int64 } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                address: { type: string, maxLength: 255 }
                capacity: { type: integer }
                gridNx: { type: integer, description: 기상청 단기예보 격자 X }
                gridNy: { type: integer, description: 기상청 단기예보 격자 Y }
      responses:
        '204':
          description: 수정 성공. 응답 본문 없음
        '403': { $ref: '#/components/responses/Forbidden' }
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /admin/stadiums/{stadiumId}/zones:
    get:
      operationId: listAdminStadiumZones
      x-scope: MVP
      tags: [Admin]
      summary: 좌석 구역 목록 (운영자)
      description: |
        REQ-F-605. 비활성 구역도 함께 반환한다. 운영자는 되살릴 수 있어야 하기 때문이다.
        구역별 관람 기록 건수를 함께 주어, 비활성화·삭제 전에 영향 범위를 확인하게 한다.
      parameters:
        - { name: stadiumId, in: path, required: true, schema: { type: integer, format: int64 } }
      responses:
        '200':
          description: 조회 성공
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id: { type: integer, format: int64 }
                    name: { type: string, example: 1루 응원 지정석 }
                    sortOrder: { type: integer }
                    active: { type: boolean }
                    logCount: { type: integer, description: 이 구역을 좌석으로 기록한 관람 건수 }
        '403': { $ref: '#/components/responses/Forbidden' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: createStadiumZone
      x-scope: MVP
      tags: [Admin]
      summary: 좌석 구역 추가
      description: REQ-F-605. 같은 구장 안에서 이름이 중복될 수 없다.
      parameters:
        - { name: stadiumId, in: path, required: true, schema: { type: integer, format: int64 } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string, maxLength: 50, example: 1루 응원 지정석 }
                sortOrder: { type: integer, description: 생략하면 맨 뒤에 붙는다 }
      responses:
        '201':
          description: 추가 성공
        '400':
          description: 이름 누락 (ZONE_NAME_REQUIRED)
        '409':
          description: 같은 구장에 같은 이름이 이미 있음 (DUPLICATE_ZONE)
        '403': { $ref: '#/components/responses/Forbidden' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /admin/zones/{zoneId}:
    patch:
      operationId: updateAdminZone
      x-scope: MVP
      tags: [Admin]
      summary: 좌석 구역 수정 · 비활성화
      description: |
        REQ-F-605. `active=false` 로 두면 일반 조회(`GET /stadiums/{stadiumId}`)에서 제외되고
        새 관람 기록에서도 선택할 수 없다. 이미 그 구역으로 남긴 기록과 만족도 집계는 유지된다.
      parameters:
        - { name: zoneId, in: path, required: true, schema: { type: integer, format: int64 } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string, maxLength: 50 }
                sortOrder: { type: integer }
                active: { type: boolean }
      responses:
        '204':
          description: 수정 성공. 응답 본문 없음
        '409':
          description: 이름 중복 (DUPLICATE_ZONE)
        '403': { $ref: '#/components/responses/Forbidden' }
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteAdminZone
      x-scope: MVP
      tags: [Admin]
      summary: 좌석 구역 삭제
      description: |
        REQ-F-605. **관람 기록이 하나도 없는 구역만 삭제할 수 있다.**
        기록이 딸린 구역을 지우면 과거 기록의 좌석 정보와 그 구역에 쌓인 만족도 평가가
        함께 사라지므로, 그런 구역은 비활성화로 처리한다.
      parameters:
        - { name: zoneId, in: path, required: true, schema: { type: integer, format: int64 } }
      responses:
        '204':
          description: 삭제 성공
        '409':
          description: 관람 기록이 있어 삭제 불가 (ZONE_IN_USE)
        '403': { $ref: '#/components/responses/Forbidden' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    Page:
      name: page
      in: query
      schema: { type: integer, default: 0, minimum: 0 }
    Size:
      name: size
      in: query
      schema: { type: integer, default: 20, maximum: 100 }
    LogId:
      name: logId
      in: path
      required: true
      schema: { type: integer, format: int64 }
    PostId:
      name: postId
      in: path
      required: true
      schema: { type: integer, format: int64 }

  responses:
    BadRequest:
      description: 요청 값이 올바르지 않음
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
    Unauthorized:
      description: 인증 필요 또는 토큰 만료
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
    Forbidden:
      description: 권한 없음 (REQ-NF-008, REQ-NF-009)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
    NotFound:
      description: 대상을 찾을 수 없음
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }

  schemas:
    BlockedUserResponse:
      type: object
      description: 차단한 사용자 1건. 탈퇴한 사용자는 닉네임을 "(탈퇴한 사용자)" 로 돌려준다
      properties:
        userId: { type: integer, format: int64 }
        nickname: { type: string }
        blockedAt: { type: string, format: date-time }

    ErrorResponse:
      type: object
      properties:
        code: { type: string, example: INVALID_CREDENTIALS }
        message: { type: string, example: 이메일 또는 비밀번호가 올바르지 않습니다. }
        data: { type: object, nullable: true }

    TokenResponse:
      type: object
      properties:
        accessToken: { type: string }
        refreshToken: { type: string }
        expiresIn: { type: integer, example: 3600 }

    UserResponse:
      type: object
      properties:
        id: { type: integer, format: int64 }
        email: { type: string }
        nickname: { type: string }
        profileImageUrl: { type: string, nullable: true }
        favoriteTeam: { $ref: '#/components/schemas/TeamResponse' }
        attendanceCount: { type: integer, example: 12 }

    TeamResponse:
      type: object
      properties:
        id: { type: integer, format: int64 }
        name: { type: string, example: 두산 베어스 }
        shortName: { type: string, example: 두산 }
        logoUrl: { type: string, nullable: true }
        channels: { $ref: '#/components/schemas/TeamChannels' }

    GameResponse:
      type: object
      properties:
        id: { type: integer, format: int64 }
        seasonYear: { type: integer, example: 2026 }
        gameDate: { type: string, format: date }
        startAt: { type: string, format: date-time }
        stadium: { $ref: '#/components/schemas/StadiumResponse' }
        homeTeam: { $ref: '#/components/schemas/TeamResponse' }
        awayTeam: { $ref: '#/components/schemas/TeamResponse' }
        homeScore: { type: integer, nullable: true }
        awayScore: { type: integer, nullable: true }
        status:
          type: string
          enum: [SCHEDULED, IN_PROGRESS, FINISHED, CANCELED, SUSPENDED]
        resultConfirmed:
          type: boolean
          description: REQ-F-606. false 이면 화면에 "확인 중" 배지를 표시하고 전적 집계에서 제외한다
          example: true

    StandingResponse:
      type: object
      description: 등록된 경기 결과로부터 산출 (REQ-F-104)
      properties:
        rank: { type: integer, example: 1 }
        team: { $ref: '#/components/schemas/TeamResponse' }
        games: { type: integer }
        wins: { type: integer }
        draws: { type: integer }
        losses: { type: integer }
        winRate: { type: number, format: float, example: 0.636 }
        gamesBehind: { type: number, format: float, example: 0.0 }

    WeatherResponse:
      type: object
      properties:
        temperature: { type: number, format: float, nullable: true, example: 27.4 }
        sky: { type: string, nullable: true, example: 구름많음 }
        precipType: { type: string, nullable: true, example: 없음 }
        precipProbability: { type: integer, nullable: true, example: 30 }
        alert:
          type: string
          nullable: true
          description: REQ-F-113 기상특보 발효 시
          example: 호우주의보
        rainRisk:
          type: boolean
          description: 강수 확률이 기준 이상이거나 특보 발효 중이면 true
        fetchedAt: { type: string, format: date-time }
        dataSource:
          type: string
          description: REQ-NF-024 출처 표기
          example: 기상청 단기예보 (공공데이터포털, 공공누리 출처표시)

    TeamChannels:
      type: object
      description: REQ-F-114 구단 공식 채널
      properties:
        homepageUrl: { type: string, nullable: true }
        ticketUrl: { type: string, nullable: true }
        instagramUrl: { type: string, nullable: true }
        youtubeUrl: { type: string, nullable: true }

    StadiumResponse:
      type: object
      properties:
        id: { type: integer, format: int64 }
        name: { type: string, example: 잠실야구장 }
        address: { type: string }
        capacity: { type: integer, example: 25000 }

    StadiumDetailResponse:
      allOf:
        - $ref: '#/components/schemas/StadiumResponse'
        - type: object
          properties:
            homeTeams:
              type: array
              items: { $ref: '#/components/schemas/TeamResponse' }
            zones:
              type: array
              items: { $ref: '#/components/schemas/ZoneStatResponse' }
            myRecord:
              type: object
              nullable: true
              description: 로그인 사용자의 해당 구장 전적
              properties:
                games: { type: integer }
                wins: { type: integer }
                draws: { type: integer }
                losses: { type: integer }

    ZoneStatResponse:
      type: object
      properties:
        zoneId: { type: integer, format: int64 }
        name: { type: string, example: 3루 내야 지정석 }
        avgRating:
          type: number
          format: float
          nullable: true
          description: 표본 5건 미만이면 null (REQ-F-305)
          example: 4.2
        ratingCount: { type: integer, example: 87 }
        smallSample: { type: boolean, example: false }

    AttendanceLogRequest:
      type: object
      required: [gameId, stadiumZoneId, zoneRating]
      properties:
        gameId: { type: integer, format: int64 }
        cheerTeamId:
          type: integer
          format: int64
          nullable: true
          description: null 이면 중립 관람 (승패 집계 제외)
        stadiumZoneId: { type: integer, format: int64 }
        zoneRating: { type: integer, minimum: 1, maximum: 5, description: 필수 (REQ-F-206) }
        memo: { type: string, maxLength: 1000 }
        gameRating: { type: integer, minimum: 1, maximum: 5, nullable: true }
        ticketCost: { type: integer, minimum: 0, nullable: true }
        foodCost: { type: integer, minimum: 0, nullable: true }
        transportCost: { type: integer, minimum: 0, nullable: true }
        visibility: { type: string, enum: [PUBLIC, PRIVATE], default: PRIVATE }
        companions:
          type: array
          maxItems: 10
          items:
            type: object
            properties:
              userId: { type: integer, format: int64, nullable: true }
              name: { type: string, nullable: true, description: 비회원인 경우 }

    AttendanceLogSummary:
      type: object
      properties:
        id: { type: integer, format: int64 }
        gameDate: { type: string, format: date }
        stadiumName: { type: string }
        matchup: { type: string, example: '두산 5 : 3 롯데' }
        result: { type: string, enum: [WIN, DRAW, LOSE, NEUTRAL] }
        thumbnailUrl: { type: string, nullable: true }

    AttendanceLogDetail:
      allOf:
        - $ref: '#/components/schemas/AttendanceLogSummary'
        - type: object
          properties:
            game: { $ref: '#/components/schemas/GameResponse' }
            zoneName: { type: string }
            # 수정 화면이 현재 값을 골라 둔 상태로 열려면 id 가 필요하다 (REQ-F-212)
            stadiumZoneId: { type: integer, format: int64 }
            cheerTeamId: { type: integer, format: int64, nullable: true }
            zoneRating: { type: integer }
            memo: { type: string, nullable: true }
            gameRating: { type: integer, nullable: true }
            totalCost: { type: integer, nullable: true }
            visibility: { type: string, enum: [PUBLIC, PRIVATE] }
            photos:
              type: array
              items: { $ref: '#/components/schemas/PhotoResponse' }
            companions:
              type: array
              description: REQ-F-209 함께 간 사람. 회원은 지금 닉네임을 따라간다
              items: { type: string }

    PhotoResponse:
      type: object
      properties:
        id: { type: integer, format: int64 }
        originalUrl: { type: string }
        thumbnailUrl: { type: string }
        takenAt: { type: string, format: date-time, nullable: true }

    StatSummaryResponse:
      type: object
      properties:
        seasonYear: { type: integer, nullable: true, description: null 이면 통산 }
        games: { type: integer, example: 12 }
        wins: { type: integer, example: 7 }
        draws: { type: integer, example: 1 }
        losses: { type: integer, example: 4 }
        winRate:
          type: number
          format: float
          nullable: true
          description: 표본 5경기 미만이면 null (REQ-F-305)
          example: 0.636
        smallSample: { type: boolean, example: false }
        neutralCount: { type: integer, description: '승패 집계에서 제외된 중립 관람 수', example: 1 }
        currentStreak: { type: integer, description: '양수는 연승, 음수는 연패', example: 2 }
        longestWinStreak: { type: integer, example: 4 }
        totalCost: { type: integer, nullable: true, example: 312000 }

    StatItem:
      type: object
      properties:
        key: { type: string, example: '1' }
        label: { type: string, example: 잠실야구장 }
        games: { type: integer }
        wins: { type: integer }
        draws: { type: integer }
        losses: { type: integer }
        winRate: { type: number, format: float, nullable: true }
        smallSample: { type: boolean }

    CommentResponse:
      type: object
      properties:
        id: { type: integer, format: int64 }
        nickname: { type: string }
        content: { type: string }
        createdAt: { type: string, format: date-time }

    MessageResponse:
      type: object
      properties:
        id: { type: integer, format: int64 }
        nickname: { type: string }
        content: { type: string }
        createdAt: { type: string, format: date-time }
        isMine: { type: boolean }

    BadgeResponse:
      type: object
      properties:
        code: { type: string, example: FIRST_LOG }
        name: { type: string, example: 첫 직관 }
        description: { type: string, example: 첫 관람 기록을 남겼어요 }
        iconUrl: { type: string, nullable: true }
        achievedAt: { type: string, format: date-time }

    CompanionPostResponse:
      type: object
      properties:
        id: { type: integer, format: int64 }
        game: { $ref: '#/components/schemas/GameResponse' }
        authorNickname: { type: string }
        capacity: { type: integer }
        confirmedCount: { type: integer }
        status: { type: string, enum: [OPEN, FULL, CLOSED, ENDED] }

    CompanionPostDetail:
      allOf:
        - $ref: '#/components/schemas/CompanionPostResponse'
        - type: object
          properties:
            intro: { type: string, nullable: true }
            confirmedMembers:
              type: array
              items:
                type: object
                properties:
                  nickname: { type: string }
                  seq: { type: integer }
                  isAuthor: { type: boolean }
            myStatus:
              type: string
              enum: [NONE, CONFIRMED, AUTHOR]
              description: 클라이언트 버튼 상태 결정용

    GameUpsertRequest:
      type: object
      required: [seasonYear, startAt, stadiumId, homeTeamId, awayTeamId]
      properties:
        seasonYear: { type: integer }
        startAt: { type: string, format: date-time }
        stadiumId: { type: integer, format: int64 }
        homeTeamId: { type: integer, format: int64 }
        awayTeamId: { type: integer, format: int64 }
        homeScore: { type: integer, nullable: true }
        awayScore: { type: integer, nullable: true }
        status:
          type: string
          enum: [SCHEDULED, IN_PROGRESS, FINISHED, CANCELED, SUSPENDED]

    GameRevisionResponse:
      type: object
      properties:
        id: { type: integer, format: int64 }
        beforeStatus: { type: string, nullable: true }
        beforeHomeScore: { type: integer, nullable: true }
        beforeAwayScore: { type: integer, nullable: true }
        afterStatus: { type: string }
        afterHomeScore: { type: integer, nullable: true }
        afterAwayScore: { type: integer, nullable: true }
        reason: { type: string }
        revisedBy: { type: string, description: 운영자 닉네임 }
        revisedAt: { type: string, format: date-time }
